body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
}

h1, h2, p {
    margin: 0;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #222;

}

.title {
    font-size: 2.5em;
    color: #ff3333;
    text-shadow: 0 0 10px #ff3333;
}

.subtitle {
    font-size: 1.2em;
    color: #fff;
    margin-top: 10px;
}

.main {
    padding: 20px;
    text-align: center;
}

.beats-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.beat-item {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
}

.beat-item:hover {
    transform: scale(1.05);

}

.description {
    margin: 10px 0;
    font-size: 1em;
    color: #ddd;
}

.buy-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #ff3333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; transform: 0.2s;
}

.buy-button:hover {
    background-color: #cc0000;
    transform: translateY(-3px);
}
.play-button {
    font-size: 1.2em;
    padding: 10px;
    margin: 5px;
    color: #fff;
    background-color: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .play-button:hover {
    background-color: #666;
    transform: scale(1.1);
  }
.footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    margin-top: 20px;
    font-size: 0.9em;
    color: #aaa;
}
